@font-face {
  font-family: 'BitGameFont';
  src: url('./BitGameFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  cursor: url('cur.png') 0 0, auto;
}

a:hover {
  cursor: url('../handc.png') 0 0, pointer;
}

p {
  align-self: center;  
  color: hotpink;  
  text-align: center;
  font-family: 'BPtypewrite', Times New Roman;
  font-size: 20px;
  line-height: 1.5;
}

h1 {
  background-color: yellow;  
  color: black;
  font-family: 'BPtypewrite', Times New Roman;
  font-size: 30px;
  text-align: center;
  padding: 10px;
}

a:link {
  color: crimson;
}
a:visited {
  color: crimson;
}
a:hover { 
  color: olive;
}
a:active {
  color: tan;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}





