@font-face {
  font-family: 'BitGameFont';
  src: url('./BitGameFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  cursor: url('cur.png') 0 0, auto;
}

a:hover {
  cursor: url('../cursor/handc.png') 0 0, pointer;
}

p {
  align-self: center;  
  color: blue;  
  text-align: center;
  font-family: 'BPtypewrite', Times New Roman;
  font-size: 20px;
  line-height: 1.5;
}

h1 {
  background-color: blue;  
  color: black;
  font-family: 'BPtypewrite', Times New Roman;
  font-size: 30px;
  text-align: center;
  padding: 10px;
}

a:link {
  color: red;
}
a:visited {
  color: blue;
}
a:hover { 
  color: red;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


